{% extends 'logisticsSettings/base.html' %}
{% load bootstrap4 staticfiles  %}

{% block body %}

<div class="row attributesRow1">
	<div class="col-md-6">
		<div class="col-md-1">
		</div>
		<div class="col-md-3">
			<h3 class="attributesHeader1">LKW-Typen</h3>
		</div>
		<div class="col-md-7">
			<button class="btn btn-default attributesButton1"><a href="{% url 'logisticsSettings:createView' %}"><i class="far fa-plus-square"></i>
			 &nbsp Add</a></button>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-md-1">
		</div>
		<div class="col-md-5">
			<h3 class="attributesHeader1">Gabelstapler-Typen</h3>
		</div>
		<div class="col-md-5 attributesButtonUl1">
			<button class="btn btn-default attributesButton1"><a href="{% url 'logisticsSettings:createView' %}"><i class="far fa-plus-square"></i>
			 &nbsp Add</a></button>
		</div>
	</div>

</div>


<div class="row">
	<div class="col-md-6">
		<ul class="attributesList1">
			{% for trucktype in all_trucks %}
				<li>
					<div class="row">
						<div class="col-md-7">
							<a href="{% url 'logisticsSettings:detailView' trucktype.id %}"><i class="fas fa-truck"></i>&nbsp {{trucktype.truck_name }}</a>
						</div>
						<div class="col-md-2">
							<button class="btn btn-default attributesListButtons1"><a href="{% url 'logisticsSettings:editView' trucktype.id %}"><i class="fas fa-pen"></i>&nbsp Edit</a></button>
						</div>
						<div class="col-md-2">
							<button class="btn btn-default attributesListButtons1"><a href="{% url 'logisticsSettings:deleteView' trucktype.id %}"><i class="fas fa-trash-alt"></i>&nbsp Delete</a></button>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="col-md-6">
		<ul class="attributesList1">
			{% for trucktype in all_trucks %}
				<li>
					<div class="row">
						<div class="col-md-7">
							<a href="{% url 'logisticsSettings:detailView' trucktype.id %}"><i class="fas fa-truck"></i>&nbsp {{trucktype.truck_name }}</a>
						</div>
						<div class="col-md-2">
							<button class="btn btn-default attributesListButtons1"><a href="{% url 'logisticsSettings:editView' trucktype.id %}"><i class="fas fa-pen"></i>&nbsp Edit</a></button>
						</div>
						<div class="col-md-2">
							<button class="btn btn-default attributesListButtons1"><a href="{% url 'logisticsSettings:deleteView' trucktype.id %}"><i class="fas fa-trash-alt"></i>&nbsp Delete</a></button>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

</div>




{% endblock %}